  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="confirmedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-gray-400 font-semibold"> Confirmed Date </th>
      <td mat-cell *matCellDef="let row" class="text-gray-500"> {{row.confirmedDate}} </td>
    </ng-container>

    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-gray-400 font-semibold"> Order id </th>
      <td mat-cell *matCellDef="let row" class="text-gray-500"> {{row.orderId}}</td>
    </ng-container>

    <ng-container matColumnDef="orderCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-gray-400 font-semibold"> Order Code </th>
      <td mat-cell *matCellDef="let row" class="text-gray-500"> {{row.orderCode}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-gray-400 font-semibold"> Account Type </th>
      <td mat-cell *matCellDef="let row" class="text-gray-500"> {{row.type }} </td>
    </ng-container>

    <ng-container matColumnDef="debit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-gray-400 font-semibold">
        <div class="flex items-center justify-end pr-7">
            Debit
            </div>
    </th>
        <td mat-cell *matCellDef="let row" class="text-gray-500">
        <div class="flex flex-row items-center justify-end">
          <div class="flex flex-col items-end justify-center">
            <span class="tn-btc--value" [class.text-red-500]="row.status === 'below'" [class.text-green-500]="row.status === 'over'">{{row.debit | number:'1.2-10'}} BTC</span>
            <span class="tn-dollar--value font-semibold" [class.text-red-500]="row.status === 'below'" [class.text-green-500]="row.status === 'over'">{{ (row.debit | exchange:exchangeRate )  | currency:'USD' }}</span>
          </div>
          <div class="tn-balance--status ml-1">
            <mat-icon [class.text-red-500]="row.status === 'below'" [class.text-green-500]="row.status === 'over'">{{ getIconForBalanceChange(row.status)}}</mat-icon>
          </div>
        </div>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="credit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-gray-400 font-semibold">
        <div class="flex items-center justify-end pr-7">
            Credit
        </div>
    </th>
        <td mat-cell *matCellDef="let row" class="text-gray-500">
        <div class="flex flex-row items-center justify-end">
          <div class="flex flex-col items-end justify-center">
            <span class="tn-btc--value" [class.text-red-500]="row.status === 'below'" [class.text-green-500]="row.status === 'over'">{{row.credit | number:'1.2-10'}} BTC</span>
            <span class="tn-dollar--value font-semibold" [class.text-red-500]="row.status === 'below'" [class.text-green-500]="row.status === 'over'">{{ (row.credit | exchange:exchangeRate )  | currency:'USD' }}</span>
          </div>
          <div class="tn-balance--status ml-1">
            <mat-icon [class.text-red-500]="row.status === 'below'" [class.text-green-500]="row.status === 'over'">{{ getIconForBalanceChange(row.status)}}</mat-icon>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-gray-400 font-semibold">
        <div class="flex items-center justify-end pr-7">
          Balance
        </div>
      </th>
      <td mat-cell *matCellDef="let row" class="text-gray-500">
        <div class="flex flex-row items-center justify-end">
          <div class="flex flex-col items-end justify-center">
            <span class="tn-btc--value" [class.text-red-500]="row.status === 'below'" [class.text-green-500]="row.status === 'over'">{{row.balance | number:'1.2-10'}} BTC</span>
            <span class="tn-dollar--value font-semibold" [class.text-red-500]="row.status === 'below'" [class.text-green-500]="row.status === 'over'">{{ (row.balance | exchange:exchangeRate )  | currency:'USD' }}</span>
          </div>
          <div class="tn-balance--status ml-1">
            <mat-icon [class.text-red-500]="row.status === 'below'" [class.text-green-500]="row.status === 'over'">{{ getIconForBalanceChange(row.status)}}</mat-icon>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-50"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" colspan="7">No data available</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" class="z-10 sticky bottom-0" showFirstLastButtons></mat-paginator>
